<div class="layout-component">
    <ui-prop
        type="dump"
        id="type"
        :dump="dump.value.type"
    ></ui-prop>
    <ui-prop
        type="dump"
        id="resizeMode"
        :dump="dump.value.resizeMode"
    ></ui-prop>
    <ui-prop
        type="dump"
        id="cellSize"
        showflag="resizeMode==2"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==1"
        id="alignHorizontal"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==1"
        id="paddingLeft"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==1"
        id="paddingRight"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==1"
        id="spacingX"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==1"
        id="horizontalDirection"
    ></ui-prop>

    <ui-prop
        type="dump"
        showflag="type==2"
        id="alignVertical"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==2"
        id="paddingTop"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==2"
        id="paddingBottom"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==2"
        id="spacingY"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==2"
        id="verticalDirection"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="startAxis"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="paddingTop"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="paddingBottom"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="paddingLeft"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="paddingRight"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="spacingX"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="spacingY"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="verticalDirection"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="horizontalDirection"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="constraint"
    ></ui-prop>
    <ui-prop
        type="dump"
        showflag="type==3"
        id="constraintNum"
    ></ui-prop>
</div>
<ui-prop
    type="dump"
    showflag="type!=0"
    id="affectedByScale"
></ui-prop>

<!-- 渲染其他没有接管的数据 -->
<div id="customProps"></div>
</div>